.gsa-entete{
    background-image: linear-gradient(90deg, #e30513, #e30513 80%, #ffc103 80%, #ffc103);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 8px;
    justify-content: center;
    position: relative;
    z-index: 540;

    .gsa-entete-logo{
        width: 100%;
        max-width: 1600px;
        margin: auto;
        margin-bottom: 20px;
        
        svg{
            height: 24px;
            width: 19px;
            margin-right: 10px;
        }

        span{
            font-size: 16px;
        }
    }

    .gsa-titre-repertoire{
        font-size: 20px;
        font-weight: bold;
        margin-right: 20px;
    }

    nav.menu{
        width: 100%;
        max-width: 1600px;
        display: flex;
        align-content: center;

        div.menu {
            align-content: center;
            flex-wrap: wrap;

            ul{
                li{
                    a.nav-link{
                        color: black;
                        &:hover{
                            background-color: black;
                            color: white;
                        }
                    }
                }
            }
        }        
    }    
}

.gsa-img-background{    
    background-image: url(/content/ImagePortailAPI.jpg);
}

.gsa-accueil-titre{
    justify-content: left;

    .ProseMirror{
        line-height: 1;    
        width: 100%;
        max-width: 1600px;
        text-align: left;
        margin: auto;

        h1,
        p{
            text-align: left;
            margin: 0;
        }
    }
    .gsa-accueil-bouton {
        width: 100%;
        max-width: 1600px;
        text-align: left;
        margin: auto;

        a.button{            
            text-align: left;
            color: white;
            background-color: black;
        }
    }
    
}

.gsa-npt{
    padding-top: 0;
}

.switch input[type=checkbox]:checked + .slider {
    background: black;
}

.open-console-button{
    background-color: black;
    color: white;

    &:hover{
        color: black;
        background-color: white;
        border: 2px solid black;
    }
}

operation-details{
    padding-left: 15px;
}


@media screen and (max-width: 768px) {
    .gsa-entete{
        justify-content: end;

        nav.menu{
            display:none;
        }
    }
}